#event-loop-fig1 + div :first-child{
    transform: scale(0.7) rotate(45deg);
}

#event-loop-fig2 + div :first-child{
    transform: scale(0.7) rotate(45deg);
}

#event-loop-fig3 + div :first-child{
    transform: scale(0.7) rotate(45deg);
}

#event-loop-fig4 + div :first-child{
    transform: scale(0.7) rotate(45deg);
}

#event-loop-fig5 + div :first-child{
    transform: scale(0.7) rotate(45deg);
}

#event-loop-fig6 + div :first-child{
    transform: scale(0.7) rotate(45deg);
}
